<div class="sticky-top d-flex flex-column" style="padding-top:20px">
    <div class="card mb-4 p-4 shadow">
        <!-- CAIXA DE LOGIN -->
        <div id="loginBox">
            <button id="loginBtn" class="btn w-100 btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                <i class="fa fa-user"></i>
                Fazer Login
            </button>
            <span class="text-center">Não tem uma conta? <a href="" data-bs-toggle="modal" data-bs-target="#registerModal">Cadastre-se</a></span>
        </div>
        <!-- CAIXA DE USUARIO -->
        <div id="userBox" style="display: none;">
            <div class="d-flex">
                <a id="userBoxAvatarLink" href="">
                    <img id="userBoxAvatar" width="42" height="42" src="https://placehold.co/42x42" class="rounded-circle me-2" alt="...">
                </a>
                <a id="userBoxLink" href="" style="text-decoration: none;" class="d-grid">
                    <span id="userBoxName" class="h6 mb-0 text-truncate"></span>
                    <small id="userBoxUsername" class="text-body-secondary text-truncate"></small>
                </a>
                <div class="d-flex ms-auto">
                    <a id="userBoxLogout" class="ms-auto m-auto" style="text-decoration: none;" href="">Sair</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-4 shadow">
        <nav class="nav nav-pills flex-column">
            <a id="feed" class="my-2 nav-link" href="feed" style="display: none;">
                <i class="fa fa-feed"></i>
                Feed
            </a>
            <a id="explore" class="my-2 nav-link" href="explore">
                <i class="fa fa-earth-americas"></i>
                Explorar
            </a>
            <a id="switchTheme" class="my-2 nav-link" href="#">
                <i id="switchThemeIcon" class="fa"></i>
                <span id="switchThemeText"></span>
            </a>
            <a id="settings" class="my-2 nav-link" href="settings" style="display: none;">
                <i class="fa fa-gear"></i>
                Configurações
            </a>
        </nav>
    </div>
</div>


<!-- MODAL DE LOGIN -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="loginForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Entre na sua conta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="user" class="form-label">Usuário</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input name="user" id="loginUser" type="text" class="form-control" placeholder="Usuário" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Senha</label>
                        <input type="password" id="loginPass" class="form-control" name="pass" placeholder="Senha">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL DE CADASTRO -->
<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="registerForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastre-se</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="user" class="form-label">Nome de Usuário</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input id="registerUser" name="user" type="text" class="form-control" minlength="4" maxlength="16" placeholder="Um apelido único e inalterável" aria-label="Username" aria-describedby="basic-addon1">
                            <div id="userAlreadyExists" class="invalid-feedback">
                                Esse usuário já está em uso.
                            </div>
                            <div id="userInvalid" class="invalid-feedback">
                                O nome de usuário deve ter entre 4 e 32 caracteres, e pode conter letras, números e _ (underscore).
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input id="registerName" type="text" class="form-control" minlength="1" maxlength="64" name="name" placeholder="Seu nome">
                        <div id="nameInvalid" class="invalid-feedback">
                            O nome deve ter entre 1 e 64 caracteres.
                        </div>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Senha</label>
                        <input id="registerPass1" type="password" class="form-control" minlength="4" maxlength="32" name="pass" placeholder="********">
                        <div id="passInvalid" class="invalid-feedback">
                            A senha deve ter entre 8 e 32 caracteres.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Confirme sua senha</label>
                        <input id="registerPass2" type="password" class="form-control" name="pass" placeholder="********">
                        <div id="passIsNotTheSame" class="invalid-feedback">
                            As senhas não são iguais.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cadastrar!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="./js/pages/leftSideBar.js"></script>   