<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="d-flex">
            <form class="me-2" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
            </form>
            <button class="btn btn-outline-success me-2">
                <i class="fa fa-user"></i>
            </button>
            <button id="switchTheme" class="btn btn-outline-secondary">
                <i id="switchThemeIcon" class="fa fa-sun"></i>
            </button>
        </div>
    </div>
</nav>

<script src="./js/pages/nav.js"></script>