<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="d-flex">
            <form class="me-2" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
            </form>
            <button class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
                <i class="fa fa-user"></i>
            </button>

            <button id="switchTheme" class="btn btn-outline-secondary">
                <i id="switchThemeIcon" class="fa fa-sun"></i>
            </button>
        </div>
    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Entre na sua conta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 input-group">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input id="user" type="text" class="form-control" placeholder="NomeDeUsuario1" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="pass" placeholder="********">
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="me-auto">Ainda não tem uma conta? <a href="">crie uma!</a></p>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/pages/nav.js"></script>