<style>
    .itemHover:hover {
        opacity: 0.7;
    }
</style>

<div class="sticky-top d-flex flex-column" style="padding-top:20px">

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between">
            <h6>
                <i class="fa fa-bell"></i>
                Últimas Notificações
            </h6>
            <a href="notifications" style="text-decoration: none;">Ver todas</a>
        </div>
        <div class="card-body" id="lastNotificationsList">
            <!-- Last notificaiton -->
            
        </div>
    </div>
    
    <div id="hashtags" class="card mb-4 shadow">
        <div class="card-header d-flex justify-content-between">
            <b class="h6">As #hashtags mais usadas hoje!</b>
            <a href="explore" style="text-decoration: none;">Ver mais</a>
        </div>
        <ul id="rightHashtags" class="list-group list-group-flush"></ul>
    </div>

    <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
            <h6>
                <i class="fa fa-users"></i>
                Pessoas que você talvez conheça
            </h6>
        </div>
        <ul class="list-group list-group-flush" id="whoFollow"></ul>
    </div>
</div>

<script type="module" src="./js/pages/rightSideBar.js"></script>