<div class="sticky-top d-flex flex-column" style="padding-top:20px">
    <div id="hashtags" class="card mb-4 shadow">
        <div class="card-header d-flex justify-content-between">
            <h6>#Hastags</h6>   
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">#Teste</li>
            <li class="list-group-item">#Teste</li>
            <li class="list-group-item">#Teste</li>
        </ul>
    </div>

    <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
            <h6>Amigos (5 Online)</h6>
            <a href="" class="link-underline link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver todos...</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-10 start-100 translate-middle p-1 bg-success border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                                <li class="list-group-item px-2">
                                    <div class="d-inline-block position-relative">
                                        <img src="https://placehold.co/40x40" class="rounded" alt="">
                                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                                    </div>
                                    Nome
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-2">
                
                <div class="d-inline-block position-relative">
                    <img src="https://placehold.co/40x40" class="rounded" alt="">
                    <span class="position-absolute top-10 start-100 translate-middle p-1 bg-success border border-light rounded-circle"></span>
                </div>
                Nome
            </li>
            <li class="list-group-item px-2">
                <div class="d-inline-block position-relative">
                    <img src="https://placehold.co/40x40" class="rounded" alt="">
                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle"></span>
                </div>
                Nome
            </li>
            <li class="list-group-item px-2">
                <div class="d-inline-block position-relative">
                    <img src="https://placehold.co/40x40" class="rounded" alt="">
                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                </div>
                Nome
            </li>
        </ul>
    </div>
</div>

<script type="module" src="./js/pages/rightSideBar.js"></script>