<style>
    .itemHover:hover {
        opacity: 0.7;
    }
</style>

<div class="sticky-top d-flex flex-column" style="padding-top:20px">

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between">
            <h6>
                <i class="fa fa-bell"></i>
                Últimas Notificações
                <span class="badge bg-danger">99+</span></h6>
            </h6>
            <a href="notifications" style="text-decoration: none;">Ver todas</a>
        </div>
        <div class="card-body">
            <!-- Last notificaiton -->
            <div class="card p-2 mb-2">
                <div class="d-flex">
                    <a id="userBoxAvatarLink" href="">
                        <img id="userBoxAvatar" width="42" height="42" src="https://placehold.co/42x42" class="rounded-circle me-2" alt="...">
                    </a>
                    <span class="d-grid">
                        <span class="text-truncate"><b>Fulano</b> curtiu seu post</span>
                        <small id="userBoxUsername" class="text-body-secondary text-truncate">há 2 minutos</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div id="hashtags" class="card mb-4 shadow">
        <div class="card-header d-flex justify-content-between">
            <b class="h6">As #hashtags mais usadas hoje!</b>
            <a href="explore" style="text-decoration: none;">Ver mais</a>
        </div>
        <ul id="rightHashtags" class="list-group list-group-flush"></ul>
    </div>

    <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
            <h6>Pessoas que você talvez conheça</h6>
        </div>
        <ul class="list-group list-group-flush" id="whoFollow"></ul>
    </div>
</div>

<script type="module" src="./js/pages/rightSideBar.js"></script>